.DS_Store
chainer/log*
chainer/foo
chainer/hoge
chainer/result/*
chainer/plot_*
k_means_clustering/DerivedData/ 
k_means_clustering/k_means_clustering.xcodeproj/xcuserdata/
k_means_clustering/k_means_clustering.xcodeproj/project.xcworkspace/xcuserdata/
k_means_clustering/k_means_clustering/*_result.jpg
k_means_clustering/k_means_clustering/k_means_clustering
k_means_clustering/k_means_clustering/k_means_clustering_dbg
k_means_clustering/DerivedData/*
k_means_clustering/DerivedData/
lstm/chainer/lstm/__pycache__/*
lstm/chainer/lstm/*.npz
lstm/chainer/lstm/*.pkl 
lstm/chainer/nstep_lstm/__pycache__/*
lstm/chainer/nstep_lstm/*.npz
lstm/chainer/nstep_lstm/*.pkl 
lstm/chainer/__pycache__/
lstm/chainer/.python-version
lstm/chainer/nstep_lstm/run
lstm/chainer/nstep_lstm/*.pkl
lstm/chainer/nstep_lstm/.ipynb_checkpoints/*
lstm/chainer/lstm/.ipynb_checkpoints/*
lstm/chainer/lstm/*.pkl
lstm/chainer/lstm/chainer_losses.pkl
em_algorithm/.ipynb_checkpoints/* 
em_algorithm/EmAlgorithm/DerivedData/*
em_algorithm/EmAlgorithm/EmAlgorithm.xcodeproj/xcuserdata/*
em_algorithm/*.png  
em_algorithm/*.jpg
em_algorithm/*.jpeg
em_algorithm/*.txt
em_algorithm/EmAlgorithm/EmAlgorithm.xcodeproj/project.xcworkspace/xcuserdata/*
em_algorithm/exe
em_algorithm/memo-1.pptx
em_algorithm/memo.pptx
halide/DerivedData/*
halide/images/*
halide/tutorials/tutorials.xcodeproj/xcuserdata/*
halide/halide.xcworkspace/xcuserdata/*
lstm/chainer/nstep_lstm/*.png
halide/tutorials/exe
halide/sample/exe
halide/sample/hoge
halide/sample/run
halide/sample/sample.xcodeproj/xcuserdata/*
dropout/.python-version
dropout/dataset/*
dropout/results/*
dropout/src/__pycache__/*
halide/sample_2/sample_2.xcodeproj/xcuserdata/*
halide/sample_3/exe
halide/sample_3/run
halide/sample_3/sample_3.xcodeproj/xcuserdata/
halide/sample_4/sample_4.xcodeproj/xcuserdata/
halide/tutorials/tutorials/lesson_10_halide.a
halide/tutorials/tutorials/lesson_10_halide.h
halide/sample_4/sample_4/resize.a
halide/sample_4/sample_4/resize.h
halide/sample_4/exe
halide/sample_4/run
halide/resize_using_halide_static_library/resize_using_halide_static_library/resize.a
halide/resize_using_halide_static_library/resize_using_halide_static_library/resize.h
halide/resize_using_halide_static_library/run
halide/resize/run 
halide/resize_using_halide_static_library/exe 
halide/resize_using_halide_static_library/resize_using_halide_static_library.xcodeproj/xcuserdata/
halide/resize/exe 
halide/resize/resize.xcodeproj/xcuserdata/
halide/make_halide_static_library_for_resize/make_halide_static_library_for_resize.xcodeproj/xcuserdata/
lstm/.python-version
lstm/chainer/nstep_lstm/params.pyc 
*.png
halide/tutorials/tutorials/my_first_generator.a
halide/tutorials/tutorials/my_first_generator.h
halide/tutorials/tutorials/lesson_15_generate
halide/tutorials/tutorials/lesson_15_generate.dSYM/
stan/.python-version
stan/.ipynb_checkpoints/
pymc/.python-version
pymc/__pycache__/
pymc/log
pymc/*.npy
pymc/*.pkl
pymc/*.csv
pymc/results/*
pymc/.ipynb_checkpoints/
pymc3/.python-version
pymc3/__pycache__/
pymc3/test/
pymc3/my_model.pkl
pymc3/.ipynb_checkpoints/
*/.python-version
gaussian_process/10/ 
gaussian_process/8/ 
gaussian_process/9/ 
*/__pycache__/
mcmc/.ipynb_checkpoints/
mcmc/.python-version
classification/.ipynb_checkpoints/
classification/.python-version
gaussian_process_2/.ipynb_checkpoints/
automatic_relevance_determination/*.jpg
automatic_relevance_determination/.ipynb_checkpoints/
automatic_relevance_determination/memo.xlsx
automatic_relevance_determination/images/*
automatic_relevance_determination/gp_images/
automatic_relevance_determination/gp_komatsu/
automatic_relevance_determination/komatsu/ 
tesseract/text_detection/opencv-text-detection/.python-version
tesseract/text_detection/opencv-text-detection/images/
tesseract/text_detection/opencv-text-recognition/.python-version 
tesseract/text_detection/opencv-text-recognition/hoge.jpg
tesseract/text_detection/opencv-text-recognition/images/
tesseract/text_detection/text_detection.xcworkspace/xcuserdata/  
tesseract/text_detection/text_detection/exe/
tesseract/text_detection/text_detection/text_detection.xcodeproj/xcuserdata/  
tesseract/text_detection/text_recognition/exe/
tesseract/text_detection/opencv-text-detection/frozen_east_text_detection.pb
tesseract/text_detection/opencv-text-detection/run
tesseract/text_detection/opencv-text-recognition/frozen_east_text_detection.pb
tesseract/text_detection/opencv-text-recognition/run
tesseract/text_detection/text_detection/text_detection.xcodeproj/project.xcworkspace/xcuserdata/
ocropy_/*/__init__.pyc
ocropy_/*/chars.pyc
ocropy_/*/common.pyc
ocropy_/*/default.pyc
ocropy_/*/edist.pyc
ocropy_/*/exceptions.pyc
ocropy_/*/hocr.pyc
ocropy_/*/ligatures.pyc
ocropy_/*/lineest.pyc
ocropy_/*/lstm.pyc
ocropy_/*/morph.pyc
ocropy_/*/psegutils.pyc
ocropy_/*/sl.pyc
ocropy_/*/toplevel.pyc
ocropy_/*/utils.pyc
ocropy_/temp/ 
ocropy_/OLD/
ocropy_/build/
ocropy_/models/
ARD/gp_images/
ARD/images/
ARD/.ipynb_checkpoints/
voronoi/opencv_voronoi/opencv_voronoi/*.jpg
voronoi/opencv_voronoi/opencv_voronoi.xcodeproj/xcuserdata/
voronoi/voronoi.xcworkspace/xcuserdata/
voronoi/voronoi.xcworkspace/xcuserdata/
sentence_classification_with_bert/pytorch_bert_japanese/__pycache__/
sentence_classification_with_bert/sentence_classification/__pycache__/
sentence_classification_with_bert/all_sentence_classification/__pycache__/
thrust/sample_0/build/*
thrust/sample_1/build/*
pyro/*.jpg
pyro/log
pyro/myrun
vae_by_pyro/pyro_source/
vae_by_pyro/utils/.data/*
vae_by_pyro/utils/__pycache__/*
vae_by_pyro/vae.pth
