.DS_Store
chainer/log*
chainer/foo
chainer/hoge
chainer/result/*
chainer/plot_*
k_means_clustering/DerivedData/ 
k_means_clustering/k_means_clustering.xcodeproj/xcuserdata/
k_means_clustering/k_means_clustering.xcodeproj/project.xcworkspace/xcuserdata/
k_means_clustering/k_means_clustering/*_result.jpg
k_means_clustering/k_means_clustering/k_means_clustering
k_means_clustering/k_means_clustering/k_means_clustering_dbg
lstm/chainer/lstm/__pycache__/*
lstm/chainer/lstm/*.npz
lstm/chainer/lstm/*.pkl 
lstm/chainer/nstep_lstm/__pycache__/*
lstm/chainer/nstep_lstm/*.npz
lstm/chainer/nstep_lstm/*.pkl 
lstm/chainer/__pycache__/
lstm/chainer/.python-version
lstm/chainer/nstep_lstm/run
lstm/chainer/nstep_lstm/*.pkl
lstm/chainer/nstep_lstm/.ipynb_checkpoints/*
