.DS_Store
chainer/log*
chainer/foo
chainer/hoge
chainer/result/*
chainer/plot_*
k_means_clustering/DerivedData/ 
k_means_clustering/k_means_clustering.xcodeproj/xcuserdata/
k_means_clustering/k_means_clustering.xcodeproj/project.xcworkspace/xcuserdata/
k_means_clustering/k_means_clustering/*_result.jpg
k_means_clustering/k_means_clustering/k_means_clustering
k_means_clustering/k_means_clustering/k_means_clustering_dbg
k_means_clustering/DerivedData/*
k_means_clustering/DerivedData/
lstm/chainer/lstm/__pycache__/*
lstm/chainer/lstm/*.npz
lstm/chainer/lstm/*.pkl 
lstm/chainer/nstep_lstm/__pycache__/*
lstm/chainer/nstep_lstm/*.npz
lstm/chainer/nstep_lstm/*.pkl 
lstm/chainer/__pycache__/
lstm/chainer/.python-version
lstm/chainer/nstep_lstm/run
lstm/chainer/nstep_lstm/*.pkl
lstm/chainer/nstep_lstm/.ipynb_checkpoints/*
lstm/chainer/lstm/.ipynb_checkpoints/*
lstm/chainer/lstm/*.pkl
lstm/chainer/lstm/chainer_losses.pkl
em_algorithm/.ipynb_checkpoints/* 
em_algorithm/EmAlgorithm/DerivedData/*
em_algorithm/EmAlgorithm/EmAlgorithm.xcodeproj/xcuserdata/*
em_algorithm/*.png  
em_algorithm/*.jpg
em_algorithm/*.jpeg
em_algorithm/*.txt
em_algorithm/EmAlgorithm/EmAlgorithm.xcodeproj/project.xcworkspace/xcuserdata/*
em_algorithm/exe
em_algorithm/memo-1.pptx
em_algorithm/memo.pptx
halide/DerivedData/*
halide/images/*
halide/tutorials/tutorials.xcodeproj/xcuserdata/*
halide/halide.xcworkspace/xcuserdata/*
lstm/chainer/nstep_lstm/*.png
halide/tutorials/exe
halide/sample/exe
halide/sample/hoge
halide/sample/run
halide/sample/sample.xcodeproj/xcuserdata/*
dropout/.python-version
dropout/dataset/*
dropout/results/*
dropout/src/__pycache__/*
halide/sample_2/sample_2.xcodeproj/xcuserdata/*
halide/sample_3/exe
halide/sample_3/run
halide/sample_3/sample_3.xcodeproj/xcuserdata/
halide/sample_4/sample_4.xcodeproj/xcuserdata/
halide/tutorials/tutorials/lesson_10_halide.a
halide/tutorials/tutorials/lesson_10_halide.h
halide/sample_4/sample_4/resize.a
halide/sample_4/sample_4/resize.h
halide/sample_4/exe
halide/sample_4/run
halide/resize_using_halide_static_library/resize_using_halide_static_library/resize.a
halide/resize_using_halide_static_library/resize_using_halide_static_library/resize.h
halide/resize_using_halide_static_library/run
halide/resize/run 
halide/resize_using_halide_static_library/exe 
halide/resize_using_halide_static_library/resize_using_halide_static_library.xcodeproj/xcuserdata/
halide/resize/exe 
halide/resize/resize.xcodeproj/xcuserdata/
halide/make_halide_static_library_for_resize/make_halide_static_library_for_resize.xcodeproj/xcuserdata/
lstm/.python-version
lstm/chainer/nstep_lstm/params.pyc 
*.png
halide/tutorials/tutorials/my_first_generator.a
halide/tutorials/tutorials/my_first_generator.h
halide/tutorials/tutorials/lesson_15_generate
halide/tutorials/tutorials/lesson_15_generate.dSYM/
stan/.python-version
stan/.ipynb_checkpoints/
pymc/.python-version
pymc/__pycache__/
pymc/log
pymc/*.npy
pymc/*.pkl
pymc/*.csv
pymc/results/*
pymc/.ipynb_checkpoints/
pymc3/.python-version
pymc3/__pycache__/
pymc3/test/
pymc3/my_model.pkl
pymc3/.ipynb_checkpoints/
*/.python-version
gaussian_process/10/ 
gaussian_process/8/ 
gaussian_process/9/ 
*/__pycache__/
mcmc/.ipynb_checkpoints/
mcmc/.python-version
classification/.ipynb_checkpoints/
classification/.python-version
gaussian_process_2/.ipynb_checkpoints/
automatic_relevance_determination/*.jpg
automatic_relevance_determination/.ipynb_checkpoints/
automatic_relevance_determination/memo.xlsx
automatic_relevance_determination/images/*
